

/* Menu desktop */
.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.banner-warning {
    margin-top: 6px;
    font-size: 0.95rem;
    color: #ffd966; /* jaune d’avertissement */
}

.navbar a:hover {
  text-decoration: underline;
}

/* Menu burger (caché par défaut sur desktop) */
.burger-menu {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
}

/* Menu mobile (par défaut caché) */
.mobile-nav {
  display: none;
  flex-direction: column;
  background: #004466;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  padding: 10px;
}
/* Bandeau d'information */
.info-banner {
    background: var(--violet-moyen);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.info-banner p {
    margin: 0;
    text-align: center;
}

.close-banner {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
}


.mobile-nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.mobile-nav a:hover {
  background: rgba(255,255,255,0.1);
}

/* Quand le menu mobile est actif */
.mobile-nav.active {
  display: flex;
}

/* Responsive : en dessous de 768px, on cache le menu classique */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
/* Palette couleurs */
:root {
    --violet-fonce: #245075;
    --rose-vif: #e62b87;
    --violet-moyen: #9b549c;
    --blanc: #ffffff;
    --gris-clair: #f4f4f4;
    --noir: #333;
}

/* Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gris-clair);
    color: var(--noir);
}

a {
    color: var(--violet-fonce);
    text-decoration: none;
}
r {
    color: var(--rose-vif);
    text-decoration: none;
}



/* Header */
header {
    background-color: var(--violet-fonce);
    color: var(--blanc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo img {
    height: 50px;
}

.Aff img {
    height: 650px;
}

.title h1 {
    color: var(--blanc);
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--rose-vif);
    font-weight: bold;
}

/* Sections */
main {
    padding: 2em;
}

section {
    margin-bottom: 3em;
}

h1, h2, h3 {
    color: var(--violet-fonce);
}

/* Bouton */
.btn {
    display: inline-block;
    background-color: var(--rose-vif);
    color: var(--blanc);
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-top: 1em;
}

/* Footer */
footer {
    background-color: var(--violet-moyen);
    color: var(--blanc);
    text-align: center;
    padding: 1.5em;
}

.b {
    height: 200px;
}





