<footer>
  <div class="footer-grid">
    <div>
      <div class="footer-logo-img"><img src="/images/logo_de_bas_de_page.png" width="98" height="70" alt="l'eancre"></div>
      <p class="footer-desc">Association loi 1901 reconnue d'utilité générale depuis 2017. Nous œuvrons à améliorer le quotidien des patients confrontés à la maladie grave au CH de Riom.</p>
      <div class="footer-dots"><div class="footer-dot" style="background:var(--rose)"></div><div class="footer-dot" style="background:var(--violet)"></div><div class="footer-dot" style="background:var(--bleu)"></div></div>
    </div>
    <div class="footer-col"><h3>Pages</h3><ul><li><a href="/">Accueil</a></li><li><a href="/apropos/">Qui sommes-nous</a></li><li><a href="/projets/">Nos projets</a></li><li><a href="/actualites/">Actualités</a></li><li><a href="/don/">Faire un don</a></li><li><a href="/contact/">Contact</a></li><li><a href="/mentions-legales/">Mentions légales</a></li></ul></div>
    <div class="footer-col"><h3>Nous contacter</h3><ul><li><a href="mailto:eancre63@gmail.com">eancre63@gmail.com</a></li><li><a href="https://www.google.com/maps/place/H%C3%B4pital+de+Riom-+Centre+Hospitalier+GUY+THOMAS/@45.8901022,3.1122246,606m/data=!3m2!1e3!4b1!4m6!3m5!1s0x47f72226115f29cf:0x3ce248046ad13b1!8m2!3d45.8901022!4d3.1122246!16s%2Fg%2F1tgqhs9y?authuser=0&entry=ttu&g_ep=EgoyMDI2MDkyMS4wIKXMDSoASAFQAw%3D%3D">CH Guy Thomas<br>79 Bd Etienne Clémentel<br>63200 RIOM</a></li></ul><br><h3>Notre Facebook</h3><ul><li><a href="https://www.facebook.com/CHRiom63">Centre Hospitalier Guy Thomas</a></li></ul></div>
  </div>
  <div class="footer-bottom"><span>© 2025 l'eancre — Association loi 1901. Tous droits réservés.</span><span style="color:rgba(255,255,255,.5)">GitHub Pages · OVH</span></div>
</footer>
